<html>
<head>
	<link rel="stylesheet" type="text/css" href="mastermind-style.css">
	<script src="mastermind-script.js"></script>
</head>
<body>
	<h1>Mastermind</h1>
	<img src="mastermind.jpg">
	<% game.guesses.each do |g| %>
	<div class="prevGuess">
		<div class="circle <%= colors[g.guess[0].to_i] %>"></div>
		<div class="circle <%= colors[g.guess[1].to_i] %>"></div>
		<div class="circle <%= colors[g.guess[2].to_i] %>"></div>
		<div class="circle <%= colors[g.guess[3].to_i] %>"></div>
		<div class="spacer"></div>
		<% g.black_pegs.times do %>
		<div class="small-circle black"></div>
		<% end %>
		<% g.white_pegs.times do %>
		<div class="small-circle red"></div>
		<% end %>
	</div>
	<% end %>
	<div class="playLine">
		<div class="circle <%= colors[0] %>" id="1" onClick="cycleColor(this)"></div>
		<div class="circle <%= colors[1] %>" id="2" onClick="cycleColor(this)"></div>
		<div class="circle <%= colors[2] %>" id="3" onClick="cycleColor(this)"></div>
		<div class="circle <%= colors[3] %>" id="4" onClick="cycleColor(this)"></div>
	</div>
	<br>
	<form>
		<input type="hidden" name="guess" value="0123">
		<input type="submit" value="Guess">
	</form>
	<% if game_over %>
	<p>Game over!</p>
	<% end %>
	<form>
		<input type="hidden" name="new-game" value="true">
		<input type="submit" value="New Game">
	</form>
</body>